@model BookTestProject.Models.AuthorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>
    <div>
        <h2>Автор @Model.UserName</h2>
        @using (Html.BeginForm("SaveEdit", "Author", FormMethod.Post))
        {
            <fieldset class="fieldset">
                <div class="inputData">
                    @Html.HiddenFor(m => m.Id)
                    <p>
                        @Html.LabelFor(m => m.UserName, "ФИО автора")
                        <br />
                        @Html.EditorFor(m => m.UserName)
                        <br />
                        @Html.ValidationMessageFor(model => model.UserName)
                    </p>
                    <div>
                        <input type="submit" value="Сохранить" />
                        <a class="btn btn-default" href="/Author/Index">Назад</a>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</body>
</html>