@model IEnumerable<BookTestProject.Models.AuthorViewModel>

@{
    ViewBag.Title = "Авторы";
}

<div>
    <div>
        <form action="/Author/AddAuthor">
            <button class="btn btn-secondary">Добавить автора</button>
        </form>
        <br />
    </div>
    <div>
        <h2>Авторы</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Имя автора</th>
            </tr>
            </thead>
            <tbody id="tbBody">
            @foreach (var a in Model)
            {
                <tr>
                    <td id="UserName">@a.UserName</td>
                    <td>
                        @using (Html.BeginForm("Edit", "Author", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@a.Id">
                            <input type="submit" class="btn btn-outline-dark" value="Редактировать" />
                        }
                    </td>
                    <td>
                        <input type="hidden" name="id" value="@a.Id">
                        <input type="button" data-name="@a.UserName" class="btn btn-danger delete" value="Удалить" />
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="/">Назад</a>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/AuthorsToBooks.js")
}