@model BookTestProject.Models.BookViewModel


<div>
    <h2>Книга "@Model.Name"</h2>
    @using (Html.BeginForm("EditBook", "Home", FormMethod.Post))
    {
        <fieldset class="fieldset">
            <div class="inputData">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "Название книги")
                    <br />
                    @Html.EditorFor(m => m.Name)
                    <br />
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AuthorName, "Автор")
                    <br />
                    @Html.DropDownListFor(m => m.Authors, Model.Authors)
                    <br />
                    @Html.ValidationMessageFor(model => model.AuthorName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Isbn, "Книжный номер")
                    <br />
                    @Html.EditorFor(m => m.Isbn)
                    <br />
                    @Html.ValidationMessageFor(model => model.Isbn)
                </div>
                <div>
                    <input type="submit" value="Сохранить" />
                    <a class="btn btn-secondary" href="/">Назад</a>
                </div>
            </div>
        </fieldset>
    }
</div>